@model Mango.Web.Models.ProductDto

<form asp-action="ProductDetails">
    <input asp-for="ProductId" hidden />
    <br />
    <div class="container border p-3">
        <h1 class="text-info">Product</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label asp-for="Name" disabled class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="CategoryName" disabled class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CategoryName" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Description" disabled class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Description" disabled class="form-control" rows="5"></textarea>
            </div>
            <div class="col-2">
                <label asp-for="ImageUrl" disabled class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImageUrl" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="Price" disabled class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Price" disabled class="form-control" />
            </div>
            <div class="col-5 offset-2">
                <a asp-action="ProductIndex" class="btn-success btn form-control ">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
